.navegador {
    background-color: #002161 ;
}

.titulo {
    color: #fff !important;
}

.texto {
    color: #fff !important;
}

.titulo:hover {
    color: #fff !important;
    transition: ease-in 0.2s;
}

.texto:hover {
    color: #000 !important;
    transition: ease-in 0.2s;
}